.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  max-width: 408px;
  min-height: 296px;
  border-radius: 8px;
  padding: 24px 24px 80px 24px;
  gap: 16px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 8px;
  color: #2E2F42;
  text-align: left;
}

.feedback-form input,
.feedback-form textarea {
  width: 360px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.feedback-form input {
  height: 40px;
}

.feedback-form textarea {
  height: 80px;
  resize: vertical;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000000;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 1px solid #808080;
}

.feedback-form button {
  color: #FFFFFF;
  background: #4E75FF;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  border-radius: 8px;
  padding: 8px 16px;
  border: transparent;
  margin-top: 8px;
  width: 86px;
  height: 40px;
  cursor: pointer;
}

.feedback-form button:hover,
.feedback-form button:active {
  background: #6C8CFF;
}